/* /* ## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */
/* //Declaring Global */
:root{
    /* Light mode colors */
    --background: hsl(0, 0%, 100%)
    --pale-blue: hsl(225, 100%, 98%);
    --cards-bg:  hsl(227, 47%, 96%);
    --font-color: hsl(228, 12%, 44%);
    --blue-font: hsl(230, 17%, 14%);

    /* Dark Mode colors */

    --dark-bg: hsl(230, 17%, 14%);
    --top-bg: hsl(232, 19%, 15%);
    --cards-bg-dark: hsl(228, 28%, 20%);
    --font-color-dark: hsl(228, 34%, 66%);
    --white: hsl(0, 0%, 100%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
    font-weight: 600;
}
img{
    display: block;
}


/* Header Part */
header, section{
    padding: 1rem;
}
header{
    font-size: 14PX;
}
header h2{
    font-size: 13px;
    color: var(--font-color);
    border-bottom: 1px solid;
    padding-bottom: 1rem;
}
h3{
    padding: 1rem 0;
    color: var(--font-color);
}
.h3-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* //Creating a toggle button// */
.toggle-container{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 200px;
}
label{
    background-color: var(--cards-bg);
    width: 40px;
    height: 20px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    transition: all 500ms;
    outline:  none;
}
label:checked{

}

label::before{
    content: "";
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3)
}
input:checked + .button{
    background: linear-gradient(90deg, #378fe6 0%, #3eda82 100%);


}
input:checked + .button::before{
    transform: translateX(100%);
    transition: all 500ms;
}
input:not(:checked)+ .button::before{
    transition: all 500ms;
    
}
.toggle{
    display: none;
}



/* Card elements layout and coloring */
.container{
    display: flex;
    flex-flow: column;
    text-align: center;
    background-color: var(--cards-bg);
    margin-bottom:1rem;
    padding: 1rem;
    border-radius: 4px;
    cursor: pointer;
}
.container:hover{
    filter: brightness(90%);
    transition: ease-in-out 2ms;
}
.container p:first-child{
    color: var(--font-color);
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.container p:first-child img{
    width: 20px;
}

.container p:nth-child(2){
    font-size: 50px;
    margin-top: 0.5rem;
}
.container p:nth-child(3){
    font-weight: 400;
    font-size: 12px;
    color: var(--font-color);
    letter-spacing: 6px;
    margin-bottom: 1rem;
}
.container:not(:last-child) p:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 10px;
    color:rgb(34, 189, 34);
}
.red-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 10px;
    color:  rgb(195, 26, 26);
}

/* //Overview Part Start //*/

.overview h1{
    color: var(--font-color);
}

.overview-container{
    background-color: var(--cards-bg);
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    gap: 20px;
    border-radius: 4px;
    cursor: pointer;

} 
.overview-container div:first-child p{
    padding-bottom: 1rem;
}

.overview-container:hover{
    filter: brightness(90%);
    transition: ease-in-out 2ms;
}
.left-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    color:rgb(34, 189, 34);
}
.right-side p:first-child{
    font-size: 30px;
}
.down{
    color:  rgb(195, 26, 26);
}
footer{
    text-align: center;
    padding: 1rem;
    background-color: var(--cards-bg);

}

/* Dark Mode setting */

.dark-mode{
    background-color: var(--dark-bg);
    transition:ease-in 200ms;
}

.darkmode-container{
    background-color: var(--cards-bg-dark);
    transition:ease-in 200ms;

}

.dark-fonts-numbers{
   color: #fff;    
}
/* //toggle the heading fonts in darkmode */
.fonts-dark{
    color: #fff;
}

.footer{
    background-color: var(--cards-bg-dark);
    color: #fff;

}

.instagram-container{
    border-top: 5px solid;
    border-image: linear-gradient(to right, #833ab4, #dd2a7b, #feda77);
    border-image-slice: 1;
}
.facebook-container,.twitter-container{
    border-top: 5px solid rgb(56, 147, 252);
}
.youtube-container{
    border-top: 5px solid rgb(238, 57, 57);
}

@media (min-width:700px){
    main{
        min-height: 100vh;
    }
  
   header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
    
   }
   .h3-container{
    gap: 10px;
   }
   .main-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
   } 
   .overview{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto repeat(2, 1fr);
    grid-gap: 25px;
   }
   h1.numbers {
    grid-column: 1 / -1; /* Spans from the first to the last column */
    grid-row: 1 / 2; /* Adjust this to modify the height of the h1 */
  }
}
